body{display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(186, 219, 248);
    text-align: center;
    height: 100vh;
}
.attribution a { color: hsl(228, 45%, 44%);
}
.border{
    
    padding: 10px;

    border: 2px solid black;
    width: 210px;
    height: 340px;
    border-radius: 10px;
    background-color: whitesmoke;


}
img{
    width: 208px;
    height: 208px;
    border-radius: 10px;
}
h2{
    font-size: 18px;
    font-weight: bold;

    /* position: relative;
    top: -10px; */
}
.scan{
    font-size: 14px;
    
}